* {
  padding: 0;
  margin: 0;
}

/* universal classes */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.fW {
  font-weight: 700;
}

.aligncenter {
  align-items: center;
}
.width{
  width: 96%;
  margin: auto;
}

/* navigation component css */

.navContainer__comment {
  background: black;
  color: white;
  text-align: center;
}

.navbar {
  width: 96%;
  margin-top: 30px !important;
  /* background: green; */
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.navbar__logo {
  align-items: flex-end;
}

.navbar__options {
  margin-top: 30px;

}